---
import Logo from "../../../assets/images/Logo.webp"
---

<section class="flex justify-center items-center gap-1 flex-col lg:flex-row pt-8 pb-24">
  <div class="flex flex-col items-right justify-center gap-4">
    <h1 class="text-center text-5xl lg:text-right font-bold">Un ejemplo<br> <span class="text-primary">De Landing Page</span></h1>
    <p class="text-center lg:text-right text-2xl text-primary">Usando Astro <br>para la mejor performance.</p> 
  </div>
  <img class="max-w-[400px] w-full aspect-[400/376] px-3" src={Logo.src} alt="Logo de Astro">
</section>