---
import ContactForm from '../../../components/customs/contactForm.jsx';
---
<div class="flex flex-col gap-2 items-center bg-white rounded-lg py-7 px-4 shadow-lg">
  <h2 class="text-3xl font-semibold">Contactate</h2>
  <p>Te hablaremos para saber sobre tus necesidades</p>
  <div class="max-w-[530px] mt-5">
    <ContactForm client:load/>
  </div>
</div>